/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 245px;

  background-color: white;
  position: fixed;
  height: 100%;
  align-self: center;
  overflow: auto;
}

.name {
  // font-size: 3rem;
  background-color: #00b5cc;
  padding: 15px 15px;
  margin: -16px;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: center;

  // p {
    color: white;
    font-size: 20px;
  // } 
  
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 245px;
  margin-top: 60px;
  height: 1500px;
  background-color: #e4e9f0;

  div.dashboard {
    background-color: #fcfbfb;
    padding: 30px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .dashboard-text {
      font-size: 22px;
      color: #000000ad;
    }

    .dashboard-nav {
      font-size: 14px;
      color: #000000ad;
    }
  }

  div.bodyContent {
    padding: 10px 0px 0px 20px;
  }
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}